<%- model_class = Drug -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_tag import_drugs_path, multipart: true do %>
<div class="input-group">
<span class="input-group-addon" id="sizing-addon1"><%= file_field_tag :file%><%= submit_tag "Import"%></span>
 </div>
<% end %> 
 

<hr>
<%= form_tag drugs_path, :method => 'get' do %>
  <div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-search"></span>
    <%= text_field_tag :search, params[:search], :class => 'form-control', :placeholder => 'Search the Drug here'%>
    <span class="input-group-addon" id="sizing-addon1"><%= submit_tag "Search", :name=> nil %></span>
  </div>
<%end%>
<hr>
<table class="table table-striped" id="drugs">
  <thead>
    <tr>
      
      <th class="info"><%= model_class.human_attribute_name(:Id) %></th>
      <th class="info"><%= model_class.human_attribute_name(:Reference) %></th>
      <th class="info"><%= model_class.human_attribute_name(:Name) %></th>
      <th class="info"><%= model_class.human_attribute_name(:ATC) %></th>
      <th class="info"><%= model_class.human_attribute_name(:DrugBank) %></th>
      <th class="info"><%=t '.actions', :default => t("helpers.actions") %></th>  
    </tr>
  </thead>
  <tbody>
    <% if @drugs.any? == true %>
    <% @drugs.each do |drug| %>
      <tr>
        <td><%= link_to drug.id, drug_path(drug) %></td>
        <td><%= drug.reference %></td>
        <td><%= drug.name %></td>
        <td><%= drug.atc %></td>
        <td><%= drug.drugbank %></td>
        <td>
           <%= link_to " show", drug_path(drug), :class => 'btn active btn-default btn-xs glyphicon glyphicon-new-window' %>
          <%= link_to " edit", edit_drug_path(drug), :class => 'btn active btn-default btn-xs glyphicon glyphicon-edit' %>
          <%= link_to " Delete", drug_path(drug),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure you want delete the Drug?'},
                      :class => 'btn active btn-xs btn-danger glyphicon glyphicon-remove' %>
        </td>
      </tr>
    <% end %>
    <% else %>
        <tr>
          <td colspan="6"><%= "Don't exist drugs"%></td>
       </tr>
    <%end%>
  </tbody>
</table>
  <div class="pager btn-sm" align="center">
  <%= will_paginate @drugs %>
  </div>
<hr>
<%= link_to " New Drug",
            new_drug_path,
            :class => 'btn active btn-sm btn-primary glyphicon glyphicon-plus-sign' %>
<%= link_to " Csv", drugs_path(format: "csv"), :class => 'btn active btn-default btn-sm glyphicon glyphicon-download-alt'%>
