<%- model_class = Drug -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Reference) %>:</strong></dt>
  <dd><%= @drug.reference %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Name) %>:</strong></dt>
  <dd><%= @drug.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ATC) %>:</strong></dt>
  <dd><%= @drug.atc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:DrugBank) %>:</strong></dt>
  <dd><%= @drug.drugbank %></dd>
   <hr>
    <div class="panel panel-info">
      <div class="panel-heading" style="font-size: 18px" align="center"><b>Isolateds with resistance to this drug: </b></div>
      
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:Name) %></th>
                <th><%= model_class.human_attribute_name(:Disease) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @drug.isolateds.each do |isolated| %>
                <tr>
                  <td><%= isolated.name %></td>
                  <td><%= isolated.disease %></td>
                  <td>
                    <%= link_to "Go to Isolated", isolated_path(isolated), :class => 'btn btn-info btn-sm' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            </table>
    </div>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              drugs_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_drug_path(@drug), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              drug_path(@drug),
              :method => 'delete',
              :data => { :confirm => 'Are you sure you want delete the Drug?' },
              :class => 'btn btn-danger' %>
