<%- model_class = Isolated -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Name) %>:</strong></dt>
  <dd><%= @isolated.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Disease) %>:</strong></dt>
  <dd><%= @isolated.disease %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Number_of_Samples) %>:</strong></dt>
  <dd><%= @isolated.n_samples %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Origin) %>:</strong></dt>
  <dd><%= @isolated.origin.origin_t %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Organism) %>:</strong></dt>
  <dd><%= @isolated.organism.name %></dd>
    <hr>
    <div class="panel panel-info">
      <div class="panel-heading" style="font-size: 18px" align="center"><b> Drugs Resistance: </b></div>
      
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:Name) %></th>
                <th><%= model_class.human_attribute_name(:Reference) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @isolated.drugs.each do |drug| %>
                <tr>
                  <td><%= drug.name %></td>
                  <td><%= drug.reference %></td>
                  <td>
                    <%= link_to "Go to Drug", drug_path(drug), :class => 'btn btn-info btn-sm' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            </table>
    </div>
    <hr>
    <div class="panel panel-info">
      <div class="panel-heading" style="font-size: 18px" align="center"><b> Associated Genes: </b></div>
      
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:Name) %></th>
                <th><%= model_class.human_attribute_name(:Reference) %></th>
                <th><%= model_class.human_attribute_name(:Sequence) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @isolated.genes.each do |gene| %>
                <tr>
                  <td><%= gene.name %></td>
                  <td><%= gene.reference %></td>
                  <td><%= gene.sequence %></td>
                  <td>
                    <%= link_to "Go to Gene", gene_path(gene), :class => 'btn btn-info btn-sm' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            </table>
    </div>

</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              isolateds_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_isolated_path(@isolated), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              isolated_path(@isolated),
              :method => 'delete',
              :data => { :confirm => 'Are you sure that you want delete this isolated and your genes associated?' },
              :class => 'btn btn-danger' %>
