<%= form_for @mutpub, :html => { :class => "form-horizontal mutpub" } do |f| %>

    <% if @mutpub.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@mutpub.errors.count, "error") %> prohibited this mutpub from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @mutpub.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Mutation_Associate, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :mutation_id, @mutations, :id, :nucleotide, prompt: true, :class => 'form-control' %>
    </div>
    <%= error_span(@mutpub[:mutation_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :Publication_Associate, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :publication_id, @publications, :id, :title, prompt: true, :class => 'form-control' %>
    </div>
    <%= error_span(@mutpub[:publication_id]) %>
  </div>

  <br />
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            mutpubs_path, :class => 'btn btn-default' %>

<% end %>
