<%- model_class = Mutpub -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="info"><%= model_class.human_attribute_name(:ID) %></th>
      <th class="info"><%= model_class.human_attribute_name(:Mutation_Associate) %></th>
      <th class="info"><%= model_class.human_attribute_name(:Publication_Associate) %></th>
      <th class="info"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @mutpubs.each do |mutpub| %>
      <tr>
        <td><%= link_to mutpub.id, mutpub_path(mutpub) %></td>
        <td><%= mutpub.mutation.nucleotide %></td>
        <td><%= mutpub.publication.title %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      mutpub_path(mutpub), :class => 'btn btn-default btn-sm' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_mutpub_path(mutpub), :class => 'btn btn-default btn-sm' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      mutpub_path(mutpub),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure you want delete this association?'},
                      :class => 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pager" align="center">
  <%= will_paginate @mutpubs %>
</div>
<hr>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_mutpub_path,
            :class => 'btn btn-primary' %>
