<%- model_class = Mutpub -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Mutation_Associate) %>:</strong></dt>
  <br/>
  <dd><b><u><%= model_class.human_attribute_name(:Nucleotide) %>:</u></b> <%= @mutpub.mutation.nucleotide %></dd>
  <dd><b><u><%= model_class.human_attribute_name(:Aminoacid) %>:</u></b> <%= @mutpub.mutation.aminoacid %></dd>
  <dd> <%= link_to "Go to Mutation", mutation_path(@mutpub.mutation.id), :class => 'btn active btn-info btn-sm glyphicon glyphicon-open' %></dd>
  <hr>
  <dt><strong><%= model_class.human_attribute_name(:Publication_Associate) %>:</strong></dt>
  <br/>
  <dd><b><u><%= model_class.human_attribute_name(:Title) %>:</u></b> <%= @mutpub.publication.title %></dd>
  <dd><b><u><%= model_class.human_attribute_name(:Author) %>:</u></b> <%= @mutpub.publication.author%></dd>
  <dd> <%= link_to "Go to Publication", publication_path(@mutpub.publication.id), :class => 'btn active btn-info btn-sm glyphicon glyphicon-open' %></dd>
</dl>
<hr>
<%= link_to " Back", mutpubs_path, :class => 'btn active btn-sm btn-default glyphicon glyphicon-share-alt'  %>
<%= link_to " Edit", edit_mutpub_path(@mutpub), :class => 'btn active btn-sm btn-default glyphicon glyphicon-edit' %>
<%= link_to " Delete", mutpub_path(@mutpub),
              :method => 'delete',
              :data => { :confirm => 'Are you sure you want delete this association?' },
              :class => 'btn active btn-sm btn-danger glyphicon glyphicon-remove' %>
