<%- model_class = Mutation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Nucleotide) %>:</strong></dt>
  <dd><%= @mutation.nucleotide %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Aminoacid) %>:</strong></dt>
  <dd><%= @mutation.aminoacid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:HGVS) %>:</strong></dt>
  <dd><%= @mutation.hgvs %></dd>

  <hr>
    <div class="panel panel-info">
      <div class="panel-heading" style="font-size: 18px" align="center"><b> Associated Genes: </b></div>
         
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:Name) %></th>
                <th><%= model_class.human_attribute_name(:Reference) %></th>
                <th><%= model_class.human_attribute_name(:Sequence) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @mutation.genes.each do |gene| %>
                <tr>
                  <td><%= gene.name %></td>
                  <td><%= gene.reference %></td>
                  <td><%= gene.sequence %></td>
                  <td>
                    <%= link_to "Go to Gene", gene_path(gene), :class => 'btn btn-info btn-sm' %>
                  </td>
                </tr>
              <% end %>
            </tbody>

            </table>

    </div>
    <hr>
    <div class="panel panel-info">
      <div class="panel-heading" style="font-size: 18px" align="center"><b> Related Publications: </b></div>
      
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:Title) %></th>
                <th><%= model_class.human_attribute_name(:Author) %></th>
                <th><%= model_class.human_attribute_name(:Date) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @mutation.publications.each do |publication| %>
                <tr>
                  <td><%= publication.title %></td>
                  <td><%= publication.author %></td>
                  <td><%= publication.date %></td>
                  <td>
                    <%= link_to "Go to Publication", publication_path(publication), :class => 'btn btn-info btn-sm' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            </table>
    </div>

</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              mutations_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_mutation_path(@mutation), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              mutation_path(@mutation),
              :method => 'delete',
              :data => { :confirm => 'Are you sure you want delete this Mutation?' },
              :class => 'btn btn-danger' %>
