<%- model_class = Organism -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= form_tag organisms_path, :method => 'get' do %>
  <div class="input-group">
     <span class="input-group-addon glyphicon glyphicon-search"></span>
    <%= text_field_tag :search, params[:search], :class => 'form-control', :placeholder => 'Search the Organism here'%>
    <span class="input-group-addon" id="sizing-addon1"><%= submit_tag "Search", :name=> nil %></span>
  </div>
<%end%>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="info"><%= model_class.human_attribute_name(:Id) %></th>
      <th class="info"><%= model_class.human_attribute_name(:Rate) %></th>
      <th class="info"><%= model_class.human_attribute_name(:Name) %></th>
      <th class="info"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% if @organisms.any? == true%>
    <% @organisms.each do |organism| %>
      <tr>
        <td><%= link_to organism.id, organism_path(organism) %></td>
        <td><%= organism.tax_org %></td>
        <td><%= organism.name %></td>
        <td>
          <%= link_to " show", organism_path(organism), :class => 'btn active btn-default btn-xs glyphicon glyphicon-new-window' %>
          <%= link_to " edit", edit_organism_path(organism), :class => 'btn active btn-default btn-xs glyphicon glyphicon-edit' %>
          <%= link_to " Delete", organism_path(organism),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure you want to delete the Organism and your associated?'},
                      :class => 'btn active btn-xs btn-danger glyphicon glyphicon-remove' %>
        </td>
      </tr>
    <% end %>
    <% else %>
      <tr>
          <td colspan="4"><%= "Don't exist organisms"%></td>
      </tr>
    <%end%>
  </tbody>
</table>
<div class="pager btn-sm" align="center">
  <%= will_paginate @organisms %>
</div>
<hr>
<%= link_to " New Organism",
            new_organism_path,
            :class => 'btn active btn-sm btn-primary glyphicon glyphicon-plus-sign' %>
