<%- model_class = Organism -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Rate_of_Oraganism) %>:</strong></dt>
  <dd><%= @organism.tax_org %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Name) %>:</strong></dt>
  <dd><%= @organism.name %></dd>
  <hr>
    <div class="panel panel-info">
      <div class="panel-heading" style="font-size: 18px" align="center"><b>Isolateds Association: </b></div>
      
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:Name) %></th>
                <th><%= model_class.human_attribute_name(:Disease) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @organism.isolateds.each do |isolated| %>
                <tr>
                  <td><%= isolated.name %></td>
                  <td><%= isolated.disease %></td>
                  <td>
                    <%= link_to "Go to Isolated", isolated_path(isolated), :class => 'btn btn-info btn-sm' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            </table>
    </div>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              organisms_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_organism_path(@organism), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              organism_path(@organism),
              :method => 'delete',
              :data => { :confirm =>'Are you sure you want to delete the Organism and your associated?' },
              :class => 'btn btn-danger' %>
