<%- model_class = Publication -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Author) %>:</strong></dt>
  <dd><%= @publication.author %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Title) %>:</strong></dt>
  <dd><%= @publication.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Date) %>:</strong></dt>
  <dd><%= @publication.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Journal) %>:</strong></dt>
  <dd><%= @publication.journal %></dd>
  <hr>
    <div class="panel panel-info">
      <div class="panel-heading" style="font-size: 18px" align="center"><b>Mutations Associated: </b></div>
      
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:Nucleotide) %></th>
                <th><%= model_class.human_attribute_name(:Aminoacid) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% if @publication.mutations.any? == true %>
              <% @publication.mutpubs.each do |mutation| %>
                <tr>
                  <td><%= mutation.mutation.nucleotide %></td>
                  <td><%= mutation.mutation.aminoacid %></td>
                  <td>
                    <%= link_to "Go to Mutation", mutation_path(mutation.mutation.id), :class => 'btn active btn-default btn-xs glyphicon glyphicon-open' %>
                    <%= link_to " Show association", mutpub_path(mutation.id), :class => 'btn active btn-default btn-xs glyphicon glyphicon-new-window' %>
                  </td>
                </tr>
              <% end %>
              <% else %>
                <tr>
                    <td colspan="3"><%= "This publication don't have mutations associated" %></td>
                </tr>
              <% end %>
            </tbody>
            </table>
    </div>
    <%= form_tag new_mutpub_path, :method => 'get' do %>
          <div class="input-group">
            <strong><%=" Do you need a new mutation for this Publication, with ID   "%>
            <%= text_field_tag :newp, @publication.id, :readonly => true, :class => 'textbox' %></strong>
            <%= submit_tag "New Mutation", :name=> nil, :class => 'btn active btn-sm btn-primary' %>
          </div>
    <%end%>
</dl>
<hr>
<%= link_to " Back", publications_path, :class => 'btn active btn-sm btn-default glyphicon glyphicon-share-alt'  %>
<%= link_to " Edit", edit_publication_path(@publication), :class => 'btn active btn-sm btn-default glyphicon glyphicon-edit' %>
<%= link_to " Delete", publication_path(@publication),
              :method => 'delete',
              :data => { :confirm => 'Are you sure you want delete this publication?' },
              :class => 'btn active btn-sm btn-danger glyphicon glyphicon-remove' %>
