<%- model_class = Origin -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Type) %>:</strong></dt>
  <dd><%= @origin.origin_t %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Name_of_Laboratory) %>:</strong></dt>
  <dd><%= @origin.lab_name %></dd>
</dl>
<hr>
<%= link_to " Back", origins_path, :class => 'btn active btn-sm btn-default glyphicon glyphicon-share-alt'  %>
<%= link_to " Edit", edit_origin_path(@origin), :class => 'btn active btn-sm btn-default glyphicon glyphicon-edit' %>
<%= link_to " Delete", origin_path(@origin),
              :method => 'delete',
              :data => { :confirm => 'Are you sure you want to delete the Origin?' },
              :class => 'btn active btn-sm btn-danger glyphicon glyphicon-remove' %>
