	<h1>About us</h1>
	<hr>	
			<div class="col-lg-4">
				<section>
					<div class="name"><%= "Raquel Lopes"%></div>
					<hr>
					<div class="contact">
							<strong><%= "About"%><br/>
							</strong><%= "cenas"%><br/>
							<strong><%= "E-mail: "%></strong><%= "cenas"%>
					</div>
				</section>
			</div>
			
			<div class="col-lg-4">
				<section>
					<div class="name"><%= "Pedro Lopes"%></div>
					<hr>
					<div class="contact">
							<strong><%= "About "%><br/>
							</strong><%= "cenas"%><br/>
							<strong><%= "E-mail: "%></strong><%= "cenas"%>
					</div>
				</section>
			</div>

			<div class="col-lg-4">
				<section>
					<div class="name"><%= "Joel Lopes"%></div>
					<hr>
					<div class="contact">
							<strong><%= "About "%><br/>
							</strong><%= "cenas"%><br/>
							<strong><%= "E-mail: "%></strong><%= "cenas"%>
					</div>
				</section>
			</div>

			<div class="clean">
			</div>

			<div class="col-lg-2">
			</div>

			<div class="col-lg-4">
				<section>
					<div class="name"><%= "José Oliveira"%></div>
					<hr>
					<div class="contact">
							<strong><%= "About "%></strong><br/>
							<%= "José Luis Guimarães Oliveira"%>
							<%= ""%><br/>
							<strong><%= "E-mail: "%></strong><%= "jlo@ua.pt"%>
					</div>
				</section>
			</div>

			<div class="col-lg-4">
				<section>
					<div class="name"><%= "Catarina Silva"%></div>
					<hr>
					<div class="contact">
							<strong><%= "About "%><br/>
							</strong><%= "cenas"%><br/>
							<strong><%= "E-mail: "%></strong><%= "cenas"%>
					</div>
				</section>
			</div>
			<div class="col-lg-2">
			</div>
			<br/>


