<h1>FAQ</h1>
<hr>	
<section>
<ol>
	<li style="font-weight: bold; font-size: 21px;"><div class="name"><%= "Raquel Lopes"%></div></li>
	<div class="contact">
			<strong><%= "About"%><br/>
			</strong><%= "cenas"%><br/>
			<strong><%= "E-mail: "%></strong><%= "cenas"%>
	</div>

	<hr>
	<li style="font-weight: bold; font-size: 21px;"><div class="name"><%= "P"%></div></li>
	<div class="contact">
			<strong><%= "About"%><br/>
			</strong><%= "cenas"%><br/>
			<strong><%= "E-mail: "%></strong><%= "cenas"%>
	</div>
</ol>
</section>
<br/>