<div class="panel panel-info">
<div class="panel-heading"><strong>Association between Isolated and Drug</strong></div>
<div class="panel-body">
<%= form_for @resist, :html => { :class => "form-horizontal resist" } do |f| %>

    <% if @resist.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@resist.errors.count, "error") %> prohibited this resist from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @resist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
    
  <div class="control-group">
    <%= f.label :MIC, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mic, :class => 'form-control' %>
    </div>
    <%= error_span(@resist[:mic]) %>
  </div>
  <div class="control-group">

    <% if @n == nil%>
    <%= f.label :Choose_The_Drug, :class => 'control-label' %>
    <%= f.collection_select :drug_id, @drugs, :id, :name, prompt: true, :class => 'form-control' %>
    <%else%>
    <%= f.label :Drug, :class => 'control-label' %>
    <%= f.collection_select :drug_id, @drugs, :id, :name, :selected => "#{@n}"%>
    <%end%>
   
  </div>
  <div class="control-group">
    
    <% if @nn == nil%>
        <%= f.label :Choose_The_Resistent_Isolated, :class => 'control-label' %>
        <%= f.collection_select :isolated_id, @isolateds, :id, :name, prompt: true, :class => 'form-control' %>
    <%else%>
        <%= f.label :Isolated, :class => 'control-label' %>
        <%= f.collection_select :isolated_id, @isolateds, :id, :name, :selected => "#{@nn}"%>
    <%end%> 
    
   
  </div>

  <hr>
  <%= f.submit "Submit", :class => 'btn active btn-sm btn-primary'%>
  <%= link_to " Cancel",
            resists_path, :class => 'btn active btn-sm btn-default glyphicon glyphicon-remove' %>

<% end %>
</div>
</div>
