<%- model_class = Resist -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Reference) %>:</strong></dt>
  <dd><%= @resist.reference %></dd>
  <dt><strong><%= model_class.human_attribute_name(:MIC) %>:</strong></dt>
  <dd><%= @resist.mic %></dd>
  <hr>
  <dt><strong><%= model_class.human_attribute_name(:Drug_Associate) %>:</strong></dt>
  <br/>
  <dd><b><u><%= model_class.human_attribute_name(:Name) %>:</u></b> <%= @resist.drug.name  %></dd>
  <dd><b><u><%= model_class.human_attribute_name(:Reference) %>:</u></b> <%= @resist.drug.reference  %></dd>
  <dd> <%= link_to "Go to Drug", drug_path(@resist.drug.id), :class => 'btn btn-info btn-sm' %></dd>
  <hr>
  <dt><strong><%= model_class.human_attribute_name(:Isolated_Associate) %>:</strong></dt>
  <br/>
  <dd><b><u><%= model_class.human_attribute_name(:Name) %>:</u></b> <%= @resist.isolated.name %></dd>
  <dd><b><u><%= model_class.human_attribute_name(:Disease) %>:</u></b> <%= @resist.isolated.disease %></dd>
  <dd> <%= link_to "Go to Isolated", isolated_path(@resist.isolated.id), :class => 'btn btn-info btn-sm' %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              resists_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_resist_path(@resist), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              resist_path(@resist),
              :method => 'delete',
              :data => { :confirm =>'Are you sure you want delete this resistance??' },
              :class => 'btn btn-danger' %>
