<%= form_for(@hafe) do |f| %>
  <% if @hafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hafe.errors.count, "error") %> prohibited this hafe from being saved:</h2>

      <ul>
      <% @hafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mutation_id %><br>
    <%= f.text_field :mutation_id %>
  </div>
  <div class="field">
    <%= f.label :publication_id %><br>
    <%= f.text_field :publication_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
