<p id="notice"><%= notice %></p>

<p>
  <strong>Mutation:</strong>
  <%= @hafe.mutation %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @hafe.publication %>
</p>

<%= link_to 'Edit', edit_hafe_path(@hafe) %> |
<%= link_to 'Back', haves_path %>
