<div class="panel panel-info">
<div class="panel-heading"><strong>Association between mutation and gene</strong></div>
<div class="panel-body">
<%= form_for @stat, :html => { :class => "form-horizontal stat" } do |f| %>

    <% if @stat.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@stat.errors.count, "error") %> prohibited this stat from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @stat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Number_of_Studies, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :n_studies, :class => 'form-control' %>
    </div>
    <%= error_span(@stat[:n_studies]) %>
  </div>
  <div class="control-group">
    <%= f.label :Information, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :info, :class => 'form-control' %>
    </div>
    <%= error_span(@stat[:info]) %>
  </div>
  <div class="control-group">
   <% if @n == nil%>
    <%= f.label :Choose_Gene, :class => 'control-label' %>
    <%= f.collection_select :gene_id, @genes, :id, :name, prompt: true, :class => 'form-control' %>
    <%else%>
    <%= f.label :Gene, :class => 'control-label' %>
     <%= f.collection_select :gene_id, @genes, :id, :name, :selected => "#{@n}" %>
    <%end%>
  </div>
  <div class="control-group">
    <% if @nn == nil%>
        <%= f.label :Choose_Mutation, :class => 'control-label' %>
        <%= f.collection_select :mutation_id, @mutations, :id, :allmut, prompt: true, :class => 'form-control' %>
    <%else%>
        <%= f.label :Mutation, :class => 'control-label' %>
         <%= f.collection_select :mutation_id, @mutations, :id, :allmut, :selected => "#{@nn}" %>
    <%end%>
  </div>

  <hr>
  <%= f.submit "Submit", :class => 'btn active btn-sm btn-primary'%>
  <%= link_to " Cancel",
            stats_path, :class => 'btn active btn-sm btn-default glyphicon glyphicon-remove' %>
<% end %>
</div>
</div>
