<%- model_class = Stat -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="info"><%= model_class.human_attribute_name(:ID) %></th>
      <th class="info"><%= model_class.human_attribute_name(:Number_of_Studies) %></th>
      <th class="info"><%= model_class.human_attribute_name(:Information) %></th>
      <th class="info"><%= model_class.human_attribute_name(:Gene_Associate) %></th>
      <th class="info"><%= model_class.human_attribute_name(:Mutation_Associate) %></th>
      <th class="info"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= link_to stat.id, stat_path(stat) %></td>
        <td><%= stat.n_studies %></td>
        <td><%= stat.info %></td>
        <td><%= stat.gene.name %></td>
        <td><%= stat.mutation.nucleotide %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      stat_path(stat), :class => 'btn btn-default btn-sm' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_stat_path(stat), :class => 'btn btn-default btn-sm' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      stat_path(stat),
                      :method => :delete,
                      :data => { :confirm =>'Are you sure you want delete this Association?' },
                      :class => 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pager" align="center">
  <%= will_paginate @stats %>
</div>
<hr>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_stat_path,
            :class => 'btn btn-primary' %>
